
section#requestsDiv{
  background-color: #f8f9fc;
  
}

#showrequests 
{
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
margin: 3% 0% 4% 0%;

}

#showrequests td , #showrequests th {
border-bottom: 1px solid #ddd;
padding: 8px;
text-align: center;
font-size: 15px;
}

#requTableHead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:#772929;
  color: white;
}

#footerDiv{
  position: fixed;
    bottom: 0;
}